body {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #009900;
}

a:hover {
    color: #00EE00;
}

form {
    background-color: #EEEEEE;
}

.threads_table {
    font-size: 10pt;
}

.threads_header {
    background-color: #009900;
    color: white;
}

.thread_header {
    background-color: #009900;
    color: white;
    font-weight: bold;
    font-size: 110%;
}

.thread_row {
    background-color: #dddddd;
}
.thread_row_alt {
    background-color: #eeeeee;
}

.submit_button {
    border: solid 1px black;
    background: #00AA00;
    color: white;
    font-weight: bold;
}

.error {
    color: red;
}

.copy {
    font-size: 8pt;
    text-align: center;
}

#hidden_form {
    display: none;
}

.board_description {
    -moz-border-radius: 8px;
    padding: 5px;
    background-color: #eeeeee;
    border: 2px solid #dddddd;
}

.date {
    font-size: 85%;
}
