date		{ font-size: 10pt; color: #666666; font-family:Tahoma }
name        { font-weight: bold; font-family:Tahoma }
data		{ font-family: Tahoma }
data.def	{ color: #000000 }
data.blue	{ color: #0000FF }
data.green	{ color: #008000 }
data.orange	{ color: #FF8040 }
data.red	{ color: #FF0000 }